@font-face{
  font-family: rye-regular;
  src: url(../Fonts/Rye-Regular.ttf);
}
@font-face{
  font-family: inconsolata;
  src: url(../Fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}
@font-face{
  font-family: berkshireswash-regular;
  src: url(../Fonts/BerkshireSwash-Regular.ttf);
}
@media (max-width:768px){
  nav .nav_menu{
    display:none;
  }
}
@media (min-width:768px){
  .material-icons{
    display:none;
  }
}
body{
  max-width: 1300px;
  margin:auto;
  
}
img{
  max-width: 100%;
}
a{
  line-height: 1.5;
  color: #f6ccb2;
  font-family: inconsolata;
  font-size: 12px;
  text-decoration: none;
}
a:hover{
  text-decoration:underline;
}
a:visited{
  text-decoration:underline;
}
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70px;
  background-color: #95a1ae;
}
.container .branding{
  padding: 15px 0px;
  color: black;
  font-family: rye-regular;
  font-size:35px;
  text-shadow: 2px 2px 4px #d37c66;
}
.nav_menu li{
  display:inline;
}
.today{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  border-top-style: solid;
  border-width: 2px;
  border-color:#f6ccb2;
  background-color: #95a1ae;
  line-height: 2;
  color: #f6ccb2;
  font-family: inconsolata;
  font-size: 14px;
  text-decoration: none;
  
}
footer .container{
  flex-direction: column;
  align-items: center;
}
.container cite{
  line-height: 1.5;
  color:  #f6ccb2;
  text-shadow: 2px 2px 4px black;
  font-family: inconsolata;
  font-size:12px
}
.footer_list ul{
  display:flex;
  flex-direction:column;
  align-items: center;
  padding: 10px;
}